@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base text-gray-800;
  font-family: 'Inter', sans-serif;
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.7);
    opacity: 0.25;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}